body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 209, 247);
}

div {
    background-color: white;
    margin: 5%;
}

a {
    text-decoration: none;
    color:rgb(156, 8, 119);
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 2em;
    font-style: oblique;
    display: inline;
    width: 50%;
}

p {
    display: inline-block;
    width: 50%;
}